<head>
        <title>Member</title>
        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet"></link>
    
</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'contact' %}">Contacts</a></li>
      <li><a href="{% url 'contract' %}">Contracts</a></li>
      <li><a href="{% url 'group' %}">Groups</a></li>
      <li class="active"><a href="{% url 'member' %}">Members</a></li>
      <li><a href="{% url 'upload_file' %}">Read</a></li>
    </ul>
  </div>
</div>
<br><h3 style="color:#6E7B8B">&nbsp Welcome Member</h3>
<div class="well span5" style="background-color:#63B263">
<form action="{% url 'member'  %}" method="post"  ><br>
	{% csrf_token %}
  
    {{ form.as_p }}
    {% if groups %}
      {% for group in groups %}
          {{ group.group_code }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp <input type="checkbox" name="group" value="{{group.group_code}}">
      {% endfor %}
     {% endif %}<br><br>
     <div class="navbar-inner">
      <h4>Create a new Group!</h4><br>
       Group_code:<input type="text" name="new_group" value="" /><br>
       Name:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="name" value="" /><br>
       Description: <textarea name="description" cols="100" rows="3" ></textarea><br>
     </div>
    <br><input type="submit" class="btn btn-success" value="Add member" /><br>
</form>
</div>
</body>
